body {
  background-color: white;
  color: black;
}

a {
  color: #78b1ff;
  text-align: center;
}

h1, h2, h3 {
  color: #ff5b4a;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

input[type="text"], input[type="password"] {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}

button {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}
