body {
  background-color: black;
  color: lime;
}

a {
  color: green;
}

h1, h2, h3 {
  color: lime;
}

p {
  color: white;
}

input[type="text"], input[type="password"] {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}

button {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}
